@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('images/eilis-garvey-2Y4bYo1Mn-0-unsplash.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navbar */

.nav {
    display: flex;
    justify-content: center;
    height: 100px;
    padding: 2rem;
    border-bottom: 2px solid #fdb44b; 
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-button {
    font-size: 1.2rem;
    margin: 0 1rem 0 1rem;
    border: none;
    background: none;
    color: white;
    font-family: 'Montserrat';
    text-transform: uppercase;
    padding-bottom: 1px;
}

.nav-button:hover {
    cursor: pointer;
    border-bottom: 2px solid #fdb44b; 
    transform: translateY(-10%);
}

/* Main */

.main {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 6rem 0;
}

/* Home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 3rem;
    height: 500px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    animation: fadeInAnimation 1s;
}

.home-p {
    font-family: 'Herr Von Muellerhoff';
    font-size: 8rem;
    color: white; 
    word-wrap: normal;
}

/* Menu */

.menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    animation: fadeInAnimation 1s;
}

.menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 400px;
    height: 150px;
    font-family: 'Montserrat';
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

.menu-item:hover {
    cursor: pointer;
    transform: scale(110%);
    transition: 0.5s;
}

.item-name {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #fdb44b;
    text-align: center;
}

.item-description {
    text-align: center;
    line-height: 1.5rem;
}

/* Contact */

.contact {
    padding: 2.5rem;
    line-height: 4rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeInAnimation 1s;
}

.time {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
}

.phone {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
}

.email {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    color: white;
}

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 2px solid #fdb44b; 
    width: 100%;
    height: 2.5rem;
    padding-top: 0.5rem;
}

.footer-p {
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: white;
}

/* Animations */

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries */

@media (max-width: 865px) {
    .menu {
        grid-template-columns: 1fr;
    }
}